Sessão para importar pacotes externos:

In [1]:
import pandas as pd
import os
import seaborn as sns

from pandas.api.types import is_string_dtype

Configurações gerais do sistema:

In [2]:
pd.options.display.max_columns = None

Funções gerais úteis (tratamento, caminho de arquivo):

In [3]:
def pega_caminho(nome_arquivo: str):
    caminho = os.path.abspath(f"../data/{nome_arquivo}")
    return caminho

In [4]:
def tratar_dataset(dataset):

    dataset.drop_duplicates(inplace=True)
    #dataset.dropna(inplace=True)
    
    for coluna in dataset.columns:
        if is_string_dtype(dataset[coluna]):
            dataset[coluna] = dataset[coluna].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
            dataset[coluna] = dataset[coluna].str.upper()
            dataset[coluna] = dataset[coluna].str.replace('"', "")

            
    dataset.columns = map(str.upper, dataset.columns)
    
    return dataset

Lendo o dataset de cada ano (2016 - 2019):

In [28]:
caminho_licitacao_2016  = pega_caminho("2016/licitacao.csv")
l = list(range(1, 30000, 3))

data_licitacao_2016 = pd.read_csv(caminho_licitacao_2016, skiprows=l, usecols=["DS_OBJETO", "TP_OBJETO", "NR_LICITACAO"])

caminho_item_2016  = pega_caminho("2016/item.csv")
l = list(range(1, 456367, 2))

data_item_2016 = pd.read_csv(caminho_item_2016, nrows=456367, skiprows=l, usecols=["DS_ITEM", "VL_UNITARIO_HOMOLOGADO", "NR_LICITACAO"])

In [7]:
caminho_licitacao_2017  = pega_caminho("2017/licitacao.csv")
l = list(range(1, 30000, 10))

data_licitacao_2017 = pd.read_csv(caminho_licitacao_2017, skiprows=l)

caminho_item_2017  = pega_caminho("2017/item.csv")
l = list(range(1, 456367, 2))

data_item_2017 = pd.read_csv(caminho_item_2017, nrows=456367, skiprows=l)

C:\Users\Mayara Lopes\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (52,54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Mayara Lopes\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
caminho_licitacao_2018  = pega_caminho("2018/licitacao.csv")
l = list(range(1, 30000, 10))

data_licitacao_2018 = pd.read_csv(caminho_licitacao_2018, skiprows=l)

caminho_item_2018  = pega_caminho("2018/item.csv")
l = list(range(1, 456367, 2))

data_item_2018 = pd.read_csv(caminho_item_2018, nrows=456367, skiprows=l)

C:\Users\Mayara Lopes\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (52,53,54,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Mayara Lopes\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (8,19,25,26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
caminho_licitacao_2019  = pega_caminho("2019/licitacao.csv")
l = list(range(1, 30000, 10))

data_licitacao_2019 = pd.read_csv(caminho_licitacao_2019, skiprows=l)

caminho_item_2019  = pega_caminho("2019/item.csv")
l = list(range(1, 456367, 2))

data_item_2019 = pd.read_csv(caminho_item_2019, nrows=456367, skiprows=l)

C:\Users\Mayara Lopes\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (22,53,54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Mayara Lopes\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (8,25,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Realizando os tratamentos essenciais para cada dataset:

In [10]:
lst_licitacoes, lst_itens = [data_licitacao_2016, data_licitacao_2017, data_licitacao_2018, data_licitacao_2019], [data_item_2016, data_item_2017, data_item_2018, data_item_2019]

for licitacoes, itens in zip(lst_licitacoes, lst_itens):
    tratar_dataset(licitacoes)
    tratar_dataset(itens)

In [13]:
for licitacoes in lst_licitacoes:
    
    licitacoes = licitacoes.astype({"NR_LICITACAO": int})

Mergeando os arquivos de licitações com de itens:

In [30]:
data_geral = data_licitacao_2016.merge(data_item_2016, on="NR_LICITACAO", how='inner')

In [31]:
data_geral

,NR_LICITACAO,TP_OBJETO,DS_OBJETO,DS_ITEM,VL_UNITARIO_HOMOLOGADO
0,4,COM,Aquisição de merenda escolar,Detergente Neutro 1 L,3.96
1,4,COM,Aquisição de merenda escolar,Copo descartável 200 ml caixa com 2.500 copos,96.00
2,4,COM,Aquisição de merenda escolar,Desinfetante de uso geral tira mofo 2 litros,12.90
3,4,COM,Aquisição de merenda escolar,Saco de lavar chão,7.84
4,4,COM,Aquisição de merenda escolar,Escova pequena com cerdas macias em material e...,7.77
...,...,...,...,...,...
51964286,4409,OUS,Contratação de empresa especializada em serviç...,Sistemas - informe de rendimentos dos serv. WEB,4640.00
51964287,4409,OUS,Contratação de empresa especializada em serviç...,"Sistemas - sistema de saúde, vigilância epidem...",71010.00
51964288,4409,OUS,Contratação de empresa especializada em serviç...,Sistemas - controle de protocolo WEB (implanta...,11080.00
51964289,4409,OUS,Contratação de empresa especializada em serviç...,"Sistemas - educação municipal (implantação, tr...",NaN
51964290,2867,CSE,CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM ASSESS...,"CONTRATO SERÁ REAJUSTADO COM BASE NO IGPM(96,7...",6197.88

São tipos de pessoaS? Fisca, juridica etc etc

In [36]:
data_geral["DS_ITEM"].value_counts()[: 20]

MANGUEIRA SILICONE 2.1/2"    80590
LIVRO                        74851
NÃO CADASTRADO               65823
MATERIAL                     50181
.                            34239
SERVIÇO                      28981
CENOURA                      26419
BETERRABA                    26036
PRODUTOS                     22967
BROCA                        21964
CEBOLA                       20866
REPOLHO                      20823
TOMATE                       19836
ALFACE                       16971
CHUCHU                       16717
CADEIRA ESCOLAR              16375
MEDICAMENTO                  16254
BATATA INGLESA               15984
ALHO                         14363
GASOLINA COMUM               14056
Name: DS_ITEM, dtype: int64

In [9]:
data_2016_item

NameError: name 'data_2016_item' is not defined

íamos mergear licitaçõe e itens
paramo por aui, chapamos, é sso,  é noissssssss
bjs xoxo beck e may <3

In [ ]:
(1225/410731) * 100

DE 410731 itens comprados, vemos que 0.2 % dos gastos vão para MANGUEIRA SILICONE 2.1/2 
O que é estranhio neh tcheeee

In [16]:
data_2016_licitacao["DS_OBJETO"].value_counts()

...                                                                                                                                                                                                                             307
AQUISICAO DE MEDICAMENTOS                                                                                                                                                                                                        90
MATERIAL                                                                                                                                                                                                                         69
CONTRATACAO DE SERVICO                                                                                                                                                                                                           41
AQUISICAO                                                                                                                                                                                                                        35
                                                                                                                                                                                                                               ...
AQUISICAO DE MERENDA ESCOLAR, QUE FAZEM PARTE DOS CARDAPIOS DA ALIMENTACAO ESCOLAR DAS ESCOLAS DE EDUCACAO INFANTIL, CONFORME SOLICITACAO DA SECRETARIA MUNICIPAL DE EDUCACAO, DESCRICAO DETALHADA NO ANEXO 01 DESTE EDITAL.      1
CONSTITUI OBJETO DESTA LICITACAO O REGISTRO DE PRECO, PELO PRAZO DE 12 (DOZE) MESES, PARA AQUISICAO FUTURA E PARCELADA DE SACOS DE LIXO PLASTICO                                                                                  1
AQUISIAAO DE MANGUEIRAS                                                                                                                                                                                                           1
AQUISIAAO DE MERENDA ESCOLAR ORIUNDA DA AGRICULTURA FAMILIAR                                                                                                                                                                      1
CONTRATACAO DE EMPRESA PARA PRESTACAO DE SERVICOS DE LIMPEZA E MANUTENCAO DE BANHEIROS PUBLICOS.                                                                                                                                  1
Name: DS_OBJETO, Length: 27425, dtype: int64

In [ ]:
data_2016_licitacao["TP_OBJETO"].value_counts()

COM    11924
OUS     8140
CSE     6058
OSE     2021
LOC      339
ALB      255
CON      161
PER       44
Name: TP_OBJETO, dtype: int64

In [17]:
data_2016_licitacao_compras = data_2016_licitacao.loc[(data_2016_licitacao["TP_OBJETO"] == "COM")]

In [18]:
data_2016_licitacao_compras["TP_OBJETO"].value_counts()

COM    12549
Name: TP_OBJETO, dtype: int64

In [19]:
data_2016_licitacao.isna().sum()

CD_ORGAO                  0
NM_ORGAO                  0
NR_LICITACAO              0
ANO_LICITACAO             0
CD_TIPO_MODALIDADE        0
                      ...
BL_GERA_DESPESA           0
DS_OBSERVACAO         28873
PC_TX_ESTIMADA        30465
PC_TX_HOMOLOGADA      30465
BL_COMPARTILHADA          0
Length: 61, dtype: int64

In [20]:
data_2016_item["DS_ITEM"].value_counts()

MANGUEIRA SILICONE 2.1/2                    1360
MATERIAL                                     878
SERVICO                                      369
LIVRO                                        355
.                                            344
                                            ...
PONTA DIAMANTADA PARA ALTA ROTACAO 1031        1
PONTA DIAMANTADA PARA ALTA ROTACAO 1093        1
IONOMETRO DE VIDRO VIDRION R LIQUIDO           1
ADESIVO FOTOPOLIMERIZAVEL SINGLE BOND          1
SALBUTAMOL 100MCG/DOSE AEROSOL 200 DOSES       1
Name: DS_ITEM, Length: 346300, dtype: int64

In [21]:
data_2016_item["VL_UNITARIO_HOMOLOGADO"].value_counts()

0.00        17407
3.00         1478
4.00         1337
20.00        1273
5.00         1272
            ...
34.06           1
21967.66        1
17217.46        1
223.40          1
55826.00        1
Name: VL_UNITARIO_HOMOLOGADO, Length: 38076, dtype: int64

In [8]:
data_2016_item.query('DS_ITEM == "MAMADEIRA"')

,CD_ORGAO,NR_LICITACAO,ANO_LICITACAO,CD_TIPO_MODALIDADE,NR_LOTE,NR_ITEM,NR_ITEM_ORIGINAL,DS_ITEM,QT_ITENS,SG_UNIDADE_MEDIDA,VL_UNITARIO_ESTIMADO,VL_TOTAL_ESTIMADO,DT_REF_VALOR_ESTIMADO,PC_BDI_ESTIMADO,PC_ENCARGOS_SOCIAIS_ESTIMADO,CD_FONTE_REFERENCIA,DS_FONTE_REFERENCIA,TP_RESULTADO_ITEM,VL_UNITARIO_HOMOLOGADO,VL_TOTAL_HOMOLOGADO,PC_BDI_HOMOLOGADO,PC_ENCARGOS_SOCIAIS_HOMOLOGADO,TP_ORCAMENTO,CD_TIPO_FAMILIA,CD_TIPO_SUBFAMILIA,TP_DOCUMENTO,NR_DOCUMENTO,TP_DOCUMENTO.1,NR_DOCUMENTO.1,TP_BENEFICIO_MICRO_EPP,PC_TX_ESTIMADA,PC_TX_HOMOLOGADA
279970,49200,20.0,2016,PRE,1,16,33135,MAMADEIRA,25.0,UN,4.51,112.75,NaN,NaN,NaN,NaN,COTACAO,A,4.51,NaN,NaN,NaN,M,NaN,NaN,J,3.145819e+12,NaN,NaN,L,NaN,NaN